<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/style.css') }}">
    <title>Previsão do Tempo</title>
</head>

<body>

    <main>
        <section class="imagem-do-clima">
            <div class="busca-cidade">
                <h1>De qual cidade você quer ver a previsão hoje?</h1>
                <div class="barra-de-pesquisa">
                    <form class="barra-de-pesquisa-text" action="/" method="POST">
                        <input type="text" name="text" placeholder="EX: São Paulo">
                        <button type="submit" class="barra-pesquisa-btn">
                            <img class="lupa-blue" src="../static/image/loupe-white.svg" alt="" width="25px" height="25px">
                            <img class="lupa-white" src="https://www.svgrepo.com/show/488200/find.svg" alt="" width="25px" height="25px">
                        </button>
                    </form>
                    
                </div>

               
            </div>
            <div class="caixa-media">
                <h2 class="titulo-cidade">{{ nome }}</h2>   

                <p class="temp">Agora o clima está em {{ weather_data }}° C</p>

                <div class="caixa-menor">
                    <img class="img-previsao" src="https://openweathermap.org/img/wn/04n.png" alt="icone do tempo">
                    <p class="texto-previsao">Nublado</p>
                </div>

                <p class="umidade">Umidade: {{ umidade }}%</p>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>